@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
  display: none;
}

:root {
  --black: #1a1d1f;
  --blue: #2a85ff;
  --green: #28c25d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1a1d1f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 954px;
  padding: 0 10px;
  margin: 0 auto;
}
